
table {
    width: 100%;
    border: 1px solid azure;
  }
  
  .row {
    display: flex;
    align-content: space-between;
    width: 100%;
  
  }
  
  h4 {
    width: 80%;
  }
  
  .column {
    display: flex;
    justify-content: column;
    width: 20%;
  }
  
  th {
    border: 1px solid azure;
  
  }
  
  button {
    border: none;
    color: "#fff";
    background-color: transparent
  }

